{% extends 'base.html.twig' %}

{% block title %}Modifier l'écho
{% endblock %}

{% block body %}
{% include "conversation/partials/navbar.html.twig" %}
	<div class="container">
		<h2 class="text-center text-white mt-3"> Modification de l'écho'</h2>
		<div class="row">
			{{ form_start(form, { attr: { class: 'col-12 echo-card-conv p-5 mt-5'}}) }}
			{{ form_row(form.title, { attr: { class: 'content-message'}}) }}
			{{ form_row(form.content, { attr: { class: 'content-message'}}) }}
			{{ form_widget(form.isModerated, { attr: { 'data-toggle':"toggle"}}) }}
			{{ form_row(form.image, { attr: { class: 'content-message'}}) }}
			{{ form_row(form.adress, { attr: { class: 'content-message'}}) }}
			<div class="col-12 row p-0 m-0">
				<div class="col-6 pl-0">
					{{ form_row(form.latitude, { attr: { class: 'content-message'}}) }}
				</div>
				<div class="col-6 pr-0">
					{{ form_row(form.longitude, { attr: { class: 'content-message'}}) }}
				</div>
			</div>
			Tags
			<div class="row col-12 echo-card-message ml-0 p-3">
				{% for key, tag in form.tags %}
					<div class="col-3 custom-checkbox">
						{{ form_row(tag, { attr: { 'data-toggle':"toggle", 'data-size':"mini" }}) }}
					</div>
				{% endfor %}
			</div>
			{{ form_row(form.post) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
