{% extends 'base.html.twig' %}

{% block title %}Liste des commentaires
{% endblock %}

{% block body %}
	{% include "conversation/partials/navbar.html.twig" %}
	<div class="container">
		<div class="row">
			{% include "admin/partials/adminNavbar.html.twig" %}
			<h2 class="col-12 nav-admin text-white mb-0">Liste des commentaires</h2>
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{label}} alert-dismissible fade show col-12" role="alert">
						<strong>{{label}}</strong>
						{{ message }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div><br>
				{% endfor %}
			{% endfor %}
			<table class="nav-admin col-12 table table-borderless table-user text-white text-center">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Contenu</th>
						<th scope="col">Utilisateur</th>
						<th scope="col">Est modéré</th>
						<th scope="col">Echo</th>
						<th scope="col">Posté le:</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for key, comment in comments %}
						<tr>
							<th scope="row">{{key}}</th>
							<td>{{ comment.content }}</td>
							<td>
								<a href="{{path('admin_user_edit', { "id" : comment.user.id })}}">{{ comment.user }}</a>
							</td>
							<td>
								<label class="btn-commentary-moderate" data-id="{{ comment.id }}">
									<input type="checkbox" {{ (comment.isModerated == 1) ? 'checked' : '' }} data-toggle="toggle">
								</label>
							</td>
							<td>{{ comment.echoPost.id}}</td>
							<td>{{ comment.createdAt|date("d/m/Y")}}</td>
							<td>
								<a href="{{ path('admin_commentary_edit', {id: comment.id}) }}">
									<i class="text-success fas fa-user-edit"></i>
								</a>
								|
								<a href="{{ path('admin_commentary_delete', {id: comment.id}) }}">
									<i class="text-danger fas fa-trash-alt"></i>
								</a>
							</td>
						</tr>
					</td>
				</tbody>
			</tr>
		{% endfor %}
	</tbody>
</table></div></div>{% endblock %}
